<app-header></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoggedIn; else guestContent" aria-labelledby="user-dashboard-heading">
    <h1 id="user-dashboard-heading" class="sr-only">User Dashboard</h1>

    <app-banner-carousel aria-label="Promotional banners carousel"></app-banner-carousel>

    <app-account
      [user]="user"
      [attr.aria-label]="'Account settings for ' + user.name"
    ></app-account>

    <app-review aria-label="Leave a review"></app-review>


    <div class="setting-item advanced">
      <ion-item lines="none" class="advanced-toggle"  (click)="showAdvanced = !showAdvanced">
        <ion-label>Advanced</ion-label>
        <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
      </ion-item>
      
      <div *ngIf="showAdvanced" class="advanced-section">
        <ion-button class="action-button"(click)="presentDeleteModal()">
          Delete My Account
        </ion-button>   
      </div>
      
    </div>
  </div>

  <ng-template #guestContent>
    <app-guest aria-label="Guest content. Please log in to access your dashboard."></app-guest>
  </ng-template>
</ion-content>