<div class="product-grid" role="list" aria-label="Filtered product list">

  <ng-container *ngIf="(products$ | async) as products">
    <ng-container *ngIf="products.length > 0; else emptyState">
      <ng-container *ngFor="let product of products">
        <app-product
          *ngIf="isCategoryVisible(product.category)"
          [product]="product"
          [activeDiscounts]="activeDiscounts"
          role="listitem"
        ></app-product>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #emptyState>
    <div *ngIf="hasLoaded; else loading" class="empty-state">
      <ion-icon name="leaf-outline" aria-hidden="true"></ion-icon>
      <p>No products found.</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="skeleton-card" *ngFor="let i of skeletonItems" aria-hidden="true">
      <div class="skeleton-image"></div>
      <div class="skeleton-info">
        <div class="skeleton-line sk-brand"></div>
        <div class="skeleton-line sk-title-1"></div>
        <div class="skeleton-line sk-title-2"></div>
        <div class="skeleton-line sk-price"></div>
      </div>
    </div>
  </ng-template>
</div>
