.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px; // adjust based on how much space you want
  text-align: center;
  color: #888;
  font-size: 18px;
  font-weight: 500;

  p {
    margin: 0;
  }
}

  
  .list{
    z-index: 0;
  }