<ion-content [fullscreen]="true">
  <app-header></app-header>

  <app-banner-carousel></app-banner-carousel>
  <app-product-categories></app-product-categories>
  <app-card-slider></app-card-slider>
  <div class="guest-container" *ngIf="!isLoggedIn" aria-labelledby="rewards-heading">
    <div class="guest-header">
      <h1>Create an Account</h1>
      <p>
        Sign up for free to check out faster and track your orders.
      </p>
    </div>

    <ion-button expand="block" routerLink="/auth" [queryParams]="{ mode: 'register' }" aria-label="Create a free account">Sign Up for Free</ion-button
    >
  </div>
</ion-content>
